In [30]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time

In [31]:
url = "http://api.open-notify.org/iss-now.json"
query_url = f"{url}"
print(query_url)
response = requests.get(query_url).json()

http://api.open-notify.org/iss-now.json

In [32]:
location = response["iss_position"]
lat = location["latitude"]
lon = location["longitude"]
timestamp = response["timestamp"]
    
#Output informationon screen
print("Latitude: " + str(lat))
print("Longitude: " +str(lon))
print("Time: " +str(timestamp))

#refresh position every 5 seconds
time.sleep(25)

Latitude: 25.8582
Longitude: -25.3481
Time: 1573173383

In [33]:
lat1 = []
long1 = []
timestamp1 = []
counter = 1

while counter > 0 :
    response = requests.get(query_url).json()
    lat1.append(response["iss_position"]["latitude"])
    long1.append(response["iss_position"]["longitude"])
    timestamp1.append(response["timestamp"])
    counter+=1
    time.sleep(30)

KeyboardInterrupt:

In [10]:
lat1

['35.6731',
 '36.9127',
 '38.1223',
 '39.3001',
 '40.4427',
 '41.5663',
 '42.6307',
 '43.6520',
 '44.6268',
 '45.5521',
 '46.4247',
 '47.2541',
 '48.0097',
 '48.7021',
 '49.3282',
 '49.8846',
 '50.3758',
 '50.7829',
 '51.1121',
 '51.3613',
 '51.5289',
 '51.6146',
 '51.6150',
 '51.5322',
 '51.3632',
 '51.1147',
 '50.7862',
 '50.3797',
 '49.8977',
 '49.3331',
 '48.7074',
 '48.0153',
 '47.2598',
 '46.4446',
 '45.5582',
 '44.6325',
 '43.6575',
 '42.6361',
 '41.5714',
 '40.4477',
 '39.3046',
 '38.1266',
 '36.9164',
 '35.6763',
 '34.3868',
 '33.0930',
 '31.7754',
 '30.4359',
 '29.0764',
 '27.6752',
 '26.2798',
 '24.8689',
 '23.4435',
 '22.0051',
 '20.5304',
 '19.0688',
 '17.5975',
 '16.1173',
 '14.6292',
 '13.1090',
 '11.6074',
 '10.1003',
 '8.5886',
 '7.0730',
 '5.5287',
 '4.0075',
 '2.4842',
 '0.9600',
 '-0.5648',
 '-2.1144',
 '-3.6378',
 '-5.1597',
 '-6.6791',
 '-8.1954',
 '-9.7079',
 '-11.2411',
 '-12.7438',
 '-14.2404',
 '-15.7302',
 '-17.2121',
 '-18.7099',
 '-20.1733',
 '-21.6261',
 '-23.0910',
 '-24.5190',
 '-25.9329',
 '-27.3316',
 '-28.7138',
 '-30.1001',
 '-31.4438',
 '-32.7661',
 '-34.0653',
 '-35.3394',
 '-36.6070',
 '-37.8245',
 '-39.0100',
 '-40.1613',
 '-41.2758',
 '-42.3508',
 '-43.4002',
 '-44.3866',
 '-45.3241',
 '-46.2097',
 '-47.0533',
 '-47.8238',
 '-48.5322',
 '-49.1750',
 '-49.7491',
 '-50.2513',
 '-50.6854',
 '-51.0346',
 '-51.3044',
 '-51.4932',
 '-51.6008',
 '-51.6230',
 '-51.5621',
 '-51.4185',
 '-51.1932',
 '-50.8817',
 '-50.4964',
 '-50.0350',
 '-49.5003',
 '-48.8952',
 '-48.2110',
 '-47.4736',
 '-46.6756',
 '-45.8204',
 '-44.9115',
 '-43.9357',
 '-42.9284',
 '-41.8770',
 '-40.7846',
 '-39.6538',
 '-38.4679',
 '-37.2682',
 '-36.0379',
 '-34.7793',
 '-33.4948',
 '-32.1640',
 '-30.8326',
 '-29.4806',
 '-28.1097',
 '-26.7213',
 '-25.2934',
 '-23.8740',
 '-22.4410',
 '-20.9957',
 '-19.5393',
 '-18.0728',
 '-16.5724',
 '-15.0884',
 '-13.5969',
 '-12.0989',
 '-10.5700',
 '-9.0612',
 '-7.5482',
 '-6.0318',
 '-4.5126',
 '-2.9661',
 '-1.4435',
 '0.0798',
 '1.6030',
 '3.1256',
 '4.6722',
 '6.1912',
 '7.7077',
 '9.2206',
 '10.7544',
 '12.2580',
 '13.7558',
 '15.2470',
 '16.7308',
 '18.2308',
 '19.6969',
 '21.1527',
 '22.5972',
 '24.0293',
 '25.4714',
 '26.8750',
 '28.2623',
 '29.6321',
 '30.9828',
 '32.3346',
 '33.6415',
 '34.9241',
 '36.1803',
 '37.4283',
 '38.6247',
 '39.7878',
 '40.9150',
 '42.0036',
 '43.0681',
 '44.0701',
 '45.0245',
 '45.9279',
 '46.7770',
 '47.5811',
 '48.3104',
 '48.9753',
 '49.5724',
 '50.0985',
 '50.5576',
 '50.9319',
 '51.2274',
 '51.4423',
 '51.5750',
 '51.6250',
 '51.5901',
 '51.4722',
 '51.2720',
 '50.9909',
 '50.6238',
 '50.1852',
 '49.6722',
 '49.0876',
 '48.4345',
 '47.7038',
 '46.9229',
 '46.0836',
 '45.1894',
 '44.2436',
 '43.2326',
 '42.1926',
 '41.1106',
 '39.9888',
 '38.8312',
 '37.6198',
 '36.3967',
 '35.1446']

In [6]:
long1

['-136.2123',
 '-133.8493',
 '-131.5272',
 '-129.3221',
 '-127.1931',
 '-125.1389',
 '-123.1242',
 '-121.2124',
 '-119.3667',
 '-117.5843',
 '-115.8623',
 '-114.1973',
 '-112.5597',
 '-110.9999',
 '-109.4876',
 '-108.0198',
 '-106.5699',
 '-105.1829',
 '-103.8315',
 '-102.5135',
 '-101.2262',
 '-99.9671',
 '-98.7134',
 '-97.5040',
 '-96.3159',
 '-95.1472',
 '-93.9955',
 '-92.8403',
 '-91.7174',
 '-90.6059',
 '-89.5039',
 '-88.4096',
 '-87.3033',
 '-86.2194',
 '-85.1378',
 '-84.0570',
 '-82.9752',
 '-81.8908',
 '-80.7839',
 '-79.6888',
 '-78.5858',
 '-77.4730',
 '-76.3488',
 '-75.1920',
 '-74.0387',
 '-72.8680',
 '-71.6778',
 '-70.4457',
 '-69.2097',
 '-67.9478',
 '-66.6573',
 '-65.3361',
 '-63.9584',
 '-62.5667',
 '-61.1362',
 '-59.6641',
 '-58.1471',
 '-56.5560',
 '-54.9396',
 '-53.2692',
 '-51.5417',
 '-49.7539',
 '-47.8710',
 '-45.9519',
 '-43.9633',
 '-41.9028',
 '-39.7675',
 '-37.5560',
 '-35.2279',
 '-32.8588',
 '-30.4114',
 '-27.8861',
 '-25.2850',
 '-22.5664',
 '-19.8237',
 '-17.0180',
 '54.5498',
 '56.1400',
 '57.6812',
 '59.1757',
 '60.6507',
 '62.0608',
 '63.4332',
 '64.7709',
 '66.0978',
 '67.3729',
 '68.6209',
 '69.8437',
 '71.0440',
 '72.2431',
 '73.4038',
 '74.5481',
 '75.6778',
 '76.7949',
 '77.9011',
 '79.0168',
 '80.1069',
 '81.1916',
 '82.2727']

In [7]:
timestamp1

[1572968529,
 1572968559,
 1572968590,
 1572968620,
 1572968650,
 1572968680,
 1572968710,
 1572968741,
 1572968771,
 1572968801,
 1572968831,
 1572968861,
 1572968891,
 1572968921,
 1572968952,
 1572968982,
 1572969012,
 1572969042,
 1572969072,
 1572969102,
 1572969133,
 1572969163,
 1572969193,
 1572969223,
 1572969253,
 1572969283,
 1572969314,
 1572969344,
 1572969374,
 1572969404,
 1572969434,
 1572969464,
 1572969495,
 1572969525,
 1572969555,
 1572969585,
 1572969615,
 1572969645,
 1572969676,
 1572969706,
 1572969736,
 1572969766,
 1572969796,
 1572969827,
 1572969857,
 1572969887,
 1572969917,
 1572969948,
 1572969978,
 1572970008,
 1572970038,
 1572970068,
 1572970099,
 1572970129,
 1572970159,
 1572970189,
 1572970219,
 1572970249,
 1572970279,
 1572970310,
 1572970340,
 1572970370,
 1572970400,
 1572970430,
 1572970460,
 1572970491,
 1572970521,
 1572970551,
 1572970581,
 1572970611,
 1572970641,
 1572970671,
 1572970702,
 1572970732,
 1572970762,
 1572970792,
 1572971656,
 1572971686,
 1572971716,
 1572971746,
 1572971776,
 1572971806,
 1572971837,
 1572971867,
 1572971897,
 1572971927,
 1572971957,
 1572971987,
 1572972017,
 1572972048,
 1572972078,
 1572972108,
 1572972138,
 1572972168,
 1572972198,
 1572972229,
 1572972259,
 1572972289,
 1572972319]

In [34]:
len(timestamp1)

1321

In [35]:
df = pd.DataFrame(
    {'Latitude': lat1,
     'Longitude': long1,
     'Timestamp': timestamp1
    })

In [36]:
df.head()

  Latitude Longitude   Timestamp
0  27.0716  -24.1535  1573173409
1  28.4564  -22.7396  1573173439
2  29.8462  -21.2601  1573173470
3  31.1935  -19.7612  1573173500
4  32.5199  -18.2155  1573173530

In [37]:
df.to_csv("hello", sep='\t')

In [29]:
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine

In [80]:
engine = create_engine('postgresql://postgres:,rc!7YVI@localhost/ISS')
connection = engine.connect()

In [83]:
conn = engine.connect()
conn.execute("commit")
conn.execute("create database test")

In [90]:
from sqlalchemy import MetaData, Table, Column, Integer, String

In [91]:
meta = MetaData()

students = Table(
   'students', meta, 
   Column('id', Integer, primary_key = True), 
   Column('name', String), 
   Column('lastname', String),
)
meta.create_all(engine)